<%= form_for(@quality) do |f| %>
  <% if @quality.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quality.errors.count, "error") %> prohibited this quality from being saved:</h2>

      <ul>
      <% @quality.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :speed %><br />
    <%= f.text_field :speed %>
  </div>
  <div class="field">
    <%= f.label :attack %><br />
    <%= f.text_field :attack %>
  </div>
  <div class="field">
    <%= f.label :defense %><br />
    <%= f.text_field :defense %>
  </div>
  <div class="field">
    <%= f.label :step %><br />
    <%= f.text_field :step %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
