<h1>Search</h1>
<%= form_tag(searches_path, :method => "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
<br>
<br>
  
<%= text_field_tag :query , nil, :placeholder => 'Enter Amount...' , :maxlength => 4 %>
